.link-active {
  color: white !important;
  font-family: Inter, sans-serif;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  line-height: 20px;
  padding: 14px 12px 14px 50px !important;

  background-color: var(--mantine-color-neutral-7) !important;
  min-height: 48px;
}

.main-link-icon {
  color: var(--mantine-color-primary-6) !important;
}

.main-link:not([data-active]) {
  color: var(--mantine-color-grayscales-7) !important;
  background-color: transparent !important;
  &:hover {
    background-color: var(--mantine-color-primary-2) !important;
    color: var(--mantine-color-primary-6) !important;
  }
}

.main-link {
  color: var(--mantine-color-white) !important;
  background-color: var(--mantine-color-primary-6) !important;
}
